			<div class="single-slider"data-sly-use.imageGalleryItem = "com.arian.core.models.ImageGalleryItem">
                        <div class="slider-bg">
                            <div class="row no-gutters align-items-center">
                                <div class="col-lg-4 col-md-5" >
                                    <div class="slider-product-image d-none d-md-block">
                                        <img src= "${imageGalleryItem.image}" alt="${imageGalleryItem.imageAlt}">
                                        <div class="slider-discount-tag">
                                            <p>${imageGalleryItem.offerttext}</p>
                                        </div>
                                    </div> <!-- slider product image -->
                                </div>
                                <div class="col-lg-8 col-md-7">
                                    <div class="slider-product-content">
                                        <h1> ${imageGalleryItem.title}</h1>
                                        <p>${imageGalleryItem.subtitle}</p>
                                        <sly data-sly-list="${imageGalleryItem.links}">
					                		<a class="main-btn" href="${item.link}" data-animation="fadeInUp" data-delay="1.5s">${item.text}<i class="lni-chevron-right"></i></a>
									    </sly>
                                    </div> <!-- slider product content -->
                                </div>
                            </div> <!-- row -->
                        </div> <!-- container -->
                </div> <!-- single slider -->