				
                    <div class="tile-m-30 single-temp text-center mt-30" data-sly-use.tile = "com.arian.core.models.TileModel" >
                        <div class="team-image">
                            <img src="${tile.titleImage}" alt="Team">
                        </div>
                        <div class="team-content mt-30">
                        	<div class="team-name">${tile.name @ context='html' }</div>
                            <span>${tile.rol}</span>
                            <ul class="social mt-15">
                              <sly data-sly-list.socialNetwork="${tile.socialsNetworks}">
                            	<li id="${socialNetwork.socialId}" >
                            		<a href="${socialNetwork.socialLink}" target="_blank" >${socialNetwork.socialName} 
                            			<img src="${socialNetwork.socialImage}" alt="${socialNetwork.socialName} ">
                            		</a>
                            	</li>
                              </sly>
                            </ul>
                        </div>
                    </div>