scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/landing-page-generator
        create path (nt:unstructured) /content/dam/landing-page-generator/jcr:content
        set properties on /content/dam/landing-page-generator/jcr:content
        set cq:conf{String} to /conf/landing-page-generator
        set jcr:title{String} to \"Landing Page Generator\"
        end
        "
]
