	<sly
		data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer"
		data-sly-repeat.child="${templatedContainer.structureResources}"
		data-sly-resource="${child.path @ resourceType=child.resourceType, decorationTagName='div'}"></sly>
	
	<sly data-sly-include="preloader.html"></sly>
	
	<sly data-sly-include="header.html"></sly>
	
	<sly data-sly-include="slider.html"></sly>
	
	<sly data-sly-include="discountProduct.html"></sly>
	
	<sly data-sly-include="product.html"></sly>
	
	<sly data-sly-include="service.html"></sly>
	
	<sly data-sly-include="showcase.html"></sly>
	
	<div data-sly-resource="${ 'tilescontainer' @ resourceType='landing-page-generator/components/tilescontainer'}" ></div>
	
	<sly data-sly-include="testimonial.html"></sly>
	
	<sly data-sly-include="blog.html"></sly>
	
	<sly data-sly-include="contact.html"></sly>
	
	<sly data-sly-include="footer-seccion.html"></sly>
	
	<sly data-sly-include="back-to-top.html"></sly>