
    <!--====== SLIDER PART START ======-->
    
    <section id="home" class="slider-area pt-100">
        <div class="container-fluid position-relative">
            <div class="${wcmmode.disabled ? 'slider-active' : ''}">
                
                <div data-sly-test="${wcmmode.edit || wcmmode.design}" >
                	<sly  data-sly-resource="${'images-gallery-parsys' @ resourceType='foundation/components/parsys'}"></sly>
                </div>
                
            </div>
    </section>
    
    <!--====== SLIDER PART ENDS ======-->
    
   
            

			
        
    
    
